
/*estilos header con logo*/

header {
  margin-top: 2%;
  margin-bottom: 2%;
}

#logoheader {
  width: 10%;
}

.col-md-12 {
  padding: 0px !important;
  margin: 0px !important;
}

.col-md-3 .col-md-ofsset-1{
  padding: 0px !important;
  margin: 0px !important;
}

.img-responsive {
  position: absolute;
  margin-top: 2%;
  margin-bottom: 2%;
}

.welcome {
  height: 40em;
  margin-left: 0px !important;
}

#textfloat {
  background-color: rgba(255,255,255,.90);
  height: 45vh;
  position: relative;
  margin-top: 8%;
  color: #58585B;
}

#title {
  color: #404041;
}

#body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 1.2em;
  line-height: 150%;
}

#body2 {
  font-family: 'Open Sans', sans-serif;
  padding-top: 1.2em;
  padding-right: 8em;
  line-height: 150%;
}

.button {
  width: 12em;
  height: 2em;
  background-color: #404041;
  color: white;
  text-align: left;;
  padding-top: 5px;
  margin-top: 1.5em;
  padding-left: 1.5em;
}

.textos {
  margin-left: 0px;
}
