@font-face {
font-family: 'Helvetica Neue LT Std 45 Light';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue LT Std 45 Light'), url('HelveticaNeueLTStd Lt.woff') format('woff');
}

*{
font-family:'Helvetica Neue LT Std 45 Light';

font-weight:normal;
color: #404041;
}
/*estilos header con logo*/

header {
  margin-top: 2%;
  margin-bottom: 2%;
}

#logoheader {
  width: 10%;
}

.col-md-12 {
  padding: 0px !important;
  margin: 0px !important;
}

.col-md-3 .col-md-ofsset-1{
  padding: 0px !important;
  margin: 0px !important;
}

.img-responsive {
  position: absolute;
  margin-top: 2%;
  margin-bottom: 2%;
}

.welcome {
  height: 5em;
  margin-left: 0px !important;
}

#textfloat {
  background-color: rgba(255,255,255,.90);
  position: relative;
  margin-top: 4%;
  color: #58585B;
  padding-bottom: 2%;
  margin-bottom: 4%;
}

#title {
  color: #404041;
}

#body, #body2{
  padding-top: 1.2em;
  line-height: 150%;
  text-align: justify;
}

#body2{
  font-size: 14px;
}

.user {
  width: 12em;
  height: 2em;
  margin-bottom: 1em;
  margin-left: 2em;
}

.pass {
  width: 12em;
  height: 2em;
  margin-left: 2em;
}

.button {
  width: 12em;
  height: 2em;
  background-color: #404041;
  color: white;
  text-align: left;
  padding-top: 5px;
  margin-top: 1.5em;
  padding-left: 1.5em;
  margin-left: 5em;
}
.button:hover
{
  cursor: pointer;
}

.header
{
  font-weight: bold;
}

.back_img
{
  background-image: url("../img/image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.no_margin{
  margin: 0 0 0 0;
}
